name: "Build and deploy to nais q0, q1 and q5"
on:
  workflow_dispatch:
#  push:
#    branches:
#      - "main"
jobs:
  build:
    name: "build"
    permissions:
      contents: "read"
      id-token: "write"
      packages: "write"
    runs-on: "ubuntu-latest"
    outputs:
      image: "${{ steps.docker-push.outputs.image }}"
      telemetry: "${{ steps.docker-push.outputs.telemetry }}"
    steps:
      - uses: "actions/checkout@v3"
      - uses: "actions/setup-java@v3"
        with:
          java-version: "21"
          distribution: 'temurin'
          cache: "maven"
      - name: "compile and run tests"
        run: "mvn package"
      - uses: nais/docker-build-push@v0
        id: docker-push
        with:
          team: pensjon-q1

  deploy:
    name: "Deploy"
    permissions:
      contents: "read"
      id-token: "write" 
    needs: "build"
    runs-on: "ubuntu-latest"

    strategy:
      fail-fast: false
      matrix:
        include:
         -  name: pensjon-psak-proxy-q0
            namespace: pensjon-q0
            ingress: https://pensjon-psak-q0.nais.preprod.local
            remote: http://pensjon-psak-q0.pensjon-q0.svc.nais.local
            cluster: dev-fss
            azure_ad_group: "a17bb6c9-26d3-451b-b22b-4134b72669ec" # nais-team-pensjon-q0-innlogging
            vars_file: fss
            outbound_application: pensjon-psak-q0.pensjon-q0.svc.nais.local
            environment: Q0

         -  name: pensjon-psak-proxy-q1
            namespace: pensjon-q1
            ingress: https://pensjon-psak-q1.nais.preprod.local
            remote: http://pensjon-psak-q1.pensjon-q1.svc.nais.local
            cluster: dev-fss
            azure_ad_group: "b90bfc98-bfc1-44d8-81fb-f7dfbb77d062" # nais-team-pensjon-q1-innlogging
            vars_file: fss
            outbound_application: pensjon-psak-q1.pensjon-q1.svc.nais.local
            environment: Q1

         -  name: pensjon-psak-proxy-q1
            namespace: pensjon-q1
            ingress: https://pensjon-psak-q1.intern.dev.nav.no
            remote: http://pensjon-psak-q1
            cluster: dev-gcp
            azure_ad_group: "b90bfc98-bfc1-44d8-81fb-f7dfbb77d062" # nais-team-pensjon-q1-innlogging
            vars_file: gcp
            outbound_application: pensjon-psak-q1
            environment: Q1

         -  name: pensjon-psak-proxy-q5
            namespace: pensjon-q5
            ingress: https://pensjon-psak-q5.nais.preprod.local
            remote: http://pensjon-psak-q5.pensjon-q5.svc.nais.local
            cluster: dev-fss
            azure_ad_group: "8179b33b-87db-41b9-9505-e063c2b4737b" # nais-team-pensjon-q5-innlogging
            vars_file: fss
            outbound_application: pensjon-psak-q5.pensjon-q5.svc.nais.local
            environment: Q5

    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        name: "Deploy to NAIS"
        env:
          CLUSTER: "${{ matrix.cluster }}"
          IMAGE: "${{ needs.build.outputs.image }}"
          RESOURCE: .nais/nais.yaml
          TELEMETRY: ${{ needs.build.outputs.telemetry }}
          VAR: remote=${{ matrix.remote }},ingress=${{ matrix.ingress }},azure_ad_group=${{ matrix.azure_ad_group }},name=${{ matrix.name }},namespace=${{ matrix.namespace }},outbound_application=${{ matrix.outbound_application }},environment=${{ matrix.environment }}
          VARS: '.nais/${{ matrix.vars_file }}.yaml'
